<br>
 <div class="jumbotron">
   <h1>Blocipedia</h1>
   <p>Blocipedia is a collaborative wiki website!</p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Create unlimited public wikis!</h2>
     <p>Free Plan</p>
   </div>
   <div class="col-md-4">
     <h2>Create private wikis!</h2>
     <p>Premium Plan</p>
   </div>
 </div>
